<div class="col-md-3 col-sm-6 hero-feature">
  <div class="thumbnail" [ngClass]="{ 'last': item.isTheLast() }">
      <img src="{{item.photo}}" alt="">
      <div class="caption">
          <h3>{{item.title | uppercase}} - {{item.price | currency:'USD':true:'1.2-2'}}</h3>
          <small>quantité: {{item.stock}}</small>
          <p>{{item.description}}</p>
          <p>
            <button class="btn btn-primary" (click)="addToCart()">Ajoutez au panier</button>
          </p>
      </div>
  </div>
</div>
